footer {
    margin-top: 50px;
}
#pie-de-pagina {
    width: 100%;
    font-size: roboto;
}

.articulo i {
    color: #03264C;
    font-size: 2em;
    text-align: center;
}
.articulo {
    text-align: center;
    
}