<!DOCTYPE html>
<html lang="en">
<head>
    <article>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/f8fe20a5e4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </article>
</head>
<body>
    <header>
    
    <div class="encabezado">
    <div class="nav-bar-completa">
    <div class="nav-bar">   
    <img src = '/images/logo-mercado-liebre.svg' alt = 'Logo mercadoliebre'  >
        <div class="search-box">
            <input type="search" placeholder="Search here..." />
            <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="compra">
        <p>Comprá en cuotas y sin tarjeta de crédito
        <i class="fas fa-hand-holding-usd"></i> </p>
    </div>
    </div>
    <div class="barrra-completa">
    <div class='site-bar'>
    <ul class="sitios">
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul>
    </div>
    <div class='login-bar'>
    <ul class="accesos">
        <a href="/register"><li>Creá tu cuenta
            <i class="far fa-address-card"></i>
        </li></a>
        <a href="/login"><li>Ingresa
            <i class="fas fa-share-square"></i>
        </li></a>
        <li>Mis compras
            <i class="fas fa-shopping-basket"></i>
        </li>
    </ul>
    </div>
    </div>
    
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>
    </div>
    <img src="/images/img-home-banner.jpg" alt="banner" id="img-banner">
    
    </header>
    
    
    
    <main>
        
        <h2 class="titulares">Basado en tu ultima visita</h2>
        
        
        <section class="contenedor">
            <div class="columna">
            <div class="producto"> 
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-producto">
            
                <i class="fas fa-truck"></i>
            <div class="caja1">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
            </div>
            <div class="caja2">
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
            </div>

            <div class="producto"> 
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-producto">
            
                <i class="fas fa-truck"></i>
            <div class="caja1">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
            </div>
            <div class="caja2">
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
            </div>
            </div>
            <div class="columna">
            <div class="producto"> 
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-producto">
            
                <i class="fas fa-truck"></i>
            <div class="caja1">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
            </div>
            <div class="caja2">
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
            </div>

            <div class="producto"> 
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-producto">
            
                <i class="fas fa-truck"></i>
            <div class="caja1">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
            </div>
            <div class="caja2">
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
            </div>
            </div>
        </section>
         
        <h2 class="titulares">Seccion de Ofertas</h2>
        <section class="contenedor">
            <div class="columna">
            <div class="producto"> 
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-producto">
            
                <i class="fas fa-truck"></i>
            <div class="caja1">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
            </div>
            <div class="caja2">
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
            </div>

            <div class="producto"> 
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-producto">
            
                <i class="fas fa-truck"></i>
            <div class="caja1">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
            </div>
            <div class="caja2">
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
            </div>
            </div>
            <div class="columna">
            <div class="producto"> 
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-producto">
            
                <i class="fas fa-truck"></i>
            <div class="caja1">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
            </div>
            <div class="caja2">
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
            </div>

            <div class="producto"> 
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-producto">
            
                <i class="fas fa-truck"></i>
            <div class="caja1">
                <p class="precios">$6.770</p>
                <p class="descuentos">40% off</p>
            </div>
            <div class="caja2">
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
            </div>
            </div>
        </section>
        
    </main>
    <footer>
        <section id="pie-de-pagina">
        <article class="articulo">
            <i class="fas fa-credit-card"></i>
            <h3>Paga con tarjeta en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        
        <article class="articulo">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        
        <article class="articulo">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </article>
    </section>
        Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>